.canvas {
  width: auto;
  height: auto;
  background-color: aliceblue;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  overflow: hidden;
  padding: 20px;
  cursor: default;
}
.frame {
  width: auto;
  height: auto;
  background-color: #f1f1f1;
  background-color: azure;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: default;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 0;
  transition: filter 0.3s ease;
  filter: brightness(100%);
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: scale(1);
}
.text {
  text-align: justify;
}
body {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/288/722/467/cyberpunk-edgerunners-lucy-edgerunners-anime-girls-cyberpunk-2077-cyberpunk-hd-wallpaper-preview.jpg);
  cursor: default;
}
.button:hover {
  filter: brightness(120%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-display: inline-block;
  font-style: oblique;
  font-weight: 200;
  cursor: pointer;
}
